DB_TYPE=str
# kubeflow의 url
KUBEFLOW_ENDPOINT=str
# 로그인시 사용하는 유저이름
KUBEFLOW_USERNAME=str
# 로그인시 사용하는 비밀번호
KUBEFLOW_PASSWORD=str
# 사용할 네임스페이스명
KUBEFLOW_NAMESPACE=str
# 서버의 아이피와 포트 IP:PORT
SERVER_URL=str

# MLFLOW 설정
MLFLOW_TRACKING_URL=str
MLFLOW_S3_ENDPOINT_URL=str
MLFLOW_HTTP_REQUEST_TIMEOUT=str
AWS_ACCESS_KEY_ID=str
AWS_SECRET_ACCESS_KEY=str

# 개발 환경에서만 True, 이외 False
DEBUG=bool

# harbor 이미지 경로
BERT_TRT=str
BERT_OPENVINO=str
OWLV2_PTQ=str
DETR_RESNET50=str
# 2차년도 이미지 경로
TENSORRT_IMG=str
OPENVINO_IMG=str
SKLEARN_ONNX_IMG=str
